.account-password {
    .progress {
        height: 9px;
        background-color: #edefed;
        .finish-progress {
            width: 70%;
            background-color: #3ba18d;
        }
    }

    .step-section {
        padding-top: 64px;
        .step-text {
            font-size: 28px;
            font-weight: 900;
            color: #484848;
        }
    }

    .password-section {
        padding-top: 36px;
        margin-bottom: 200px;
        label, input {
            font-size: 20px;
            color: #2b3038;
        }

        .form-group {
            margin-bottom: 20px;
        }

        input {
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 2px #dddddd;
            height: 46px;
        }

        .not-robot-img {
            width: 445px;
            height: 119px;
        }
    }

    .btn-checkout {
        width: 100%;
        margin-top: 24px;
    }
}
